
/* custom property*/

:root {
    --leading: 2em;
}

body {
    font-family: 'Roboto', Arial;
    margin: 0;
    }

.herobg {
    background: #537bc7 url('bggg.jpg');
    background-position: 12% 83%;
    color: white;
    text-align: center;
    padding: 4em;
    }

    .batss {
        color:#f89104;
    }

header {
    padding: 0em;
}

.herobg a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

section {
    margin: 0 1em;
}

h1 {
    font-size: 2.5rem;
    margin: 2em 0 1.2em;
}

h1 span {
    text-transform: uppercase;
    display: block;
    font-size: 1.4rem;
    position: relative;
    z-index: 1;
}

h1 span::before {
    content: ' ';
    position: absolute;
    width: 3em;
    background: #7bcdf3;
    height: .4em;
    bottom: 0;
    z-index: -1;
    margin-left: -.3em
}

.herobg p{
font-weight: bold;
margin: 0 1em 3em;
}

.boots{
    padding-top: 0px;
    margin-top: 5px;
    
}
.form-box{
    background-color: white;
    margin: 2em -1em 0;
    padding: 2em;
}

.battss {
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}

label{
    color: #2d7d98;
    font-weight: bold;
    display: block;
    font-size: 1.2em;
}

input[type=text] {
    border: 1px solid #707070;
    width: 100%;
    padding: 1em;
    box-sizing:border-box;
    border-radius: .5em;
    margin-top: 1.2em;
}

.form-box p{
    color: gray;
    margin-bottom: 1.5em;
    font-weight: normal;
    font-size: .9em;
    margin-top: .3em;
}

input[type=button] {
    background-color: #f89104;
    border: none;
    width: 100%;
    color: white;    
    font-weight: bold;
    padding: 1em 0;
    border-radius: .5em;
    font-size: 1.3em;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: rgb(194, 115, 5);
}

.about{
    margin: 0;
}

.rightcol{
    text-align: center;
    margin: 3em 1em;
}

h2{
    text-transform: uppercase;
    position: relative;
}

h2::before {
    content: ' ';
    position: absolute;
    width: 10.8em;
    background: #00bfff;
    height: .4em;
    bottom: 0;
    z-index: -1;
    margin-left: -.3em;
}

.form-box1{
    background-color: white;
    margin: 2em -1em 0;
    padding: 2em;
    display: none;
    opacity: 0;
    color:#537bc7;
    animation: fadeIn 6s forwards; 
}

.form-box1 h4{
    font-size: 1.4rem;
    color: rgb(0, 77, 87);
    padding-bottom: 0;
    margin-bottom: 4;
}

.form-box1 p{
    padding-top: 0;
    line-height: 1.3;
    font-size: bold;
}
img{
    width: 100%;
}

p{
    line-height: var(--leading);
}

.overlays {
    position:absolute;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .9);
    z-index: 1;
    place-content: center;
    color: white;
    display: none;
    opacity: 0; 
}

.animate-overlays {
    animation: overlay 3s forwards;
}

@media (min-width: 730px){

    section {
        margin: 0 4em;
    }
    .form-box{
        margin: 2em -4em 0;
    }

}

@media (min-width: 930px){

    .herobg {
        text-align: left;
    }

    .herobg p{
        margin: 0 0 3em;
    }

    .herobg section{
        width: 50%;
    }

    .form-box{
        margin: 2em 0 0;
        padding: 2em;
        border-radius: .5em;
        box-shadow: 10px 10px 10px rgba(0,0,0,.3);
    }

    form{
        display: flex;
    }

    .form-left{
        width: 70%;
    }

    label{
        margin: 0;
    }

    input[type="button"] {
        height: fit-content;
        font-size: .8em;
        margin-left: 1em;
        margin-top: 2.9em;
        padding: 1.2em .7em;
        width: 45%;
    }

    .herobg p{
        margin-bottom: 0;
    }

    section.about{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas:
            "bulbs content";        
    }

    .rightcol {
        grid-area: content;
        padding: 0 10%;
        text-align: left;
        align-self: center;

    }

    img {
        grid-area: bulbs;
    }

    h2 {
        margin: 0;
    }
}

.top{
    animation: fadeIn 2s forwards;
}

/* fade in from the top */

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(-2em);
    }
    
    to{
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes overlay {
    0%{
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0%;
    }
}